{
    "root_filepath": "/Users/wm/Library/Mobile Documents/com~apple~CloudDocs/github/IA005-Network-Science/BP\u5448\u73b0/\u4fe1\u606f\u62a5\u544a", 
    "model": "mix", 
    "children_filepath": "/Users/wm/Library/Mobile Documents/com~apple~CloudDocs/github/IA005-Network-Science/BP\u5448\u73b0/\u4fe1\u606f\u62a5\u544a/\u4fe1\u606f\u62a5\u544a.md"
}